In [1]:
# load dataset
from pycaret.datasets import get_data
juice = get_data('juice')

# init setup
from pycaret.classification import *
exp_name = setup(data = juice,  target = 'Purchase')

# train a model
lr = create_model('lr')

# create api
create_api(lr, 'lr_api')

# run api
!python lr_api.py

API sucessfully created. This function only creates a POST API, it doesn't run it automatically.

To run your API, please run this command --> !python lr_api.py

Traceback (most recent call last):
  File "lr_api.py", line 3, in <module>
    from pycaret.classification import load_model, predict_model
ModuleNotFoundError: No module named 'pycaret'

In [2]:
!python lr_api.py

Traceback (most recent call last):
  File "lr_api.py", line 3, in <module>
    from pycaret.classification import load_model, predict_model
ModuleNotFoundError: No module named 'pycaret'